# === База данных ===
POSTGRES_DB=pencieve
POSTGRES_USER=user
POSTGRES_PASSWORD=your_password_here
POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5440

# === Безопасность ===
SECRET_KEY=your_secret_key_here
IS_PRODUCTION=false

# === OAuth ===
VK_CLIENT_ID=
VK_CLIENT_SECRET=
VK_REDIRECT_URI=http://localhost:8000/api/auth/vk/callback

YANDEX_CLIENT_ID=your_client_id_here
YANDEX_CLIENT_SECRET=your_client_secret_here
YANDEX_REDIRECT_URI=http://localhost:8000/api/auth/yandex/callback

# === Фронтенд ===
FRONTEND_URL=http://localhost:5173