# Env
.env

# Python
__pycache__/
*.pyc
.venv/
venv/

# IDE
.idea/
.vscode/

# Alembic
alembic/versions/__pycache__/

# Пользовательские загрузки
backend/uploads/*
!backend/uploads/.gitkeep
!backend/uploads/avatars/
!backend/uploads/avatars/.gitkeep
!backend/uploads/materials/
!backend/uploads/materials/.gitkeep