html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--font-main);
    background-color: #070A10;
    color: #F2FEFF;
}

.container {
    max-width: 1920px;
    margin: 0 auto;
    padding: 0 320px;
}
